body
{
    text-align: center;
}

.submit1
{
    background-color: blue;
    color:white;
    width:5%;
    height:30px;
    border-radius:5px;
}

.submit2
{
    background-color: red;
    color:white;
    width:5%;
    height:30px;
    border-radius:5px;
}

#saisie
{
    height:30px;
    border-radius:5px;
}

.labMot
{
   position:relative;
    right:300px;
}

.inpMot
{
    width:50%;
    height:25px;
    border-radius:4px;
}

.result
{
    width:20%;
    height:40px;
    border-radius:10px;
    background-color: green;
    color:white;
}